@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    background-color: #2f2f2f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    
}

.display{
    padding: 15px;
    border-radius: 10px 10px 0 0;
    background-color: #d2d2d2;
}
.buttons{
    padding: 15px;
    border-radius: 0 0 10px 10px;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.btn{
    border: 1px solid rgb(59, 129, 132) ;
    padding: 20px 0;
    text-align: center;
}

.btn:hover{
    background-color: rgb(59, 129, 132);
}

.display__principal,
.display__secundario{
    text-align: right;
}

.display__principal{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    font-weight: 500;
}

.display__secundario{
    font-size: .9rem;
}